@model long_term_care.Models.LectureTable

@{
    ViewData["Title"] = "Create";
}
<style>
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        font-size: 1.8em;
    }

    .maincontent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 60%;
        padding: 20px;
        background-color: #CBE9EA;
    }

        .maincontent p {
            margin: 10px;
            font-size: 1.2em;
        }

        .maincontent select,
        .maincontent input[type="text"],
        .maincontent input[type="date"] {
            
            font-size: 1em;
        }
        .maincontent textarea {
            font-size: 1em;
            resize: none;
        }
    .content{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .send {
        margin-top: 20px;
        align-self: flex-end;
    }

        .send button {
            margin-right: 10px;
            padding: 12px 24px;
            font-size: 1.4em;
        }
</style>

<h1>活動設計表單</h1>
<hr />
<div class="main">
    <div class="maincontent">
        <div class="content">
            <p>表單編號: <input type="text" id="id" value="@ViewBag.LecId" readonly></p>
        </div>
        <div class="content">
            <p>主題: <input type="text" id="name"></p>
        </div>
        <div class="content">
            <p>活動目的: <input type="text" id="aim"></p>
        </div>
        <div class="content">
            <p>
                活動類別
                <select id="type">
                    <option value="靜態活動">靜態活動</option>
                    <option value="動態活動">動態活動</option>
                </select>
            </p>
        </div>
        <div class="content">
            <p>活動時間: <input type="date" id="time"><input type="time" id="eventTime" /></p>
        </div>
        <div class="content">
            <p>活動帶領: <input type="text" id="leader"></p>
        </div>
        <div class="content">
            <p>活動場地: <input type="text" id="place"></p>
        </div>
        <div class="content">
            <p>用物預備: <textarea rows="4" cols="50" id="tool"></textarea>
        </div>
        <div class="content">
            <p>步驟: <textarea rows="4" cols="50" id="step"></textarea>
        </div>
        <div class="send">
            <button type="button" class="btn btn-primary" id="create">新增</button>
            <button type="button" class="btn btn-primary" id="back" onclick="location.href='@Url.Action("Index", "LectureTables")'">返回</button>
        </div>
    </div>
</div>
<script>
    var createbtn = document.getElementById("create");
    createbtn.addEventListener("click",function(){
        var id = document.getElementById("id").value;
        var name = document.getElementById("name").value;
        var aim = document.getElementById("aim").value;
        var type = document.getElementById("type").value;
        var date = document.getElementById("time").value;
        var time = document.getElementById("eventTime").value;
        var leader = document.getElementById("leader").value;
        var place = document.getElementById("place").value;
        var tool = document.getElementById("tool").value;
        var step = document.getElementById("step").value;

        var datetime_string = date + ' ' + time;
        var datetime = new Date(datetime_string);
        var taipeiOffset = 8 * 60; // 台北时区偏移量为 UTC+8
        datetime.setMinutes(datetime.getMinutes() + taipeiOffset);

        // 使用 convertedDateTimeOffset 进行后续处理



        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/LectureTables/Create", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        // 將selectedValue轉換為JSON格式
        var data = {
             LecId : id,     
             LecTheme: name, 
             LecClass: type, 
             LecAim: aim,
            LecDate: datetime,
            LecLeader: leader , 
            LecPla: place, 
            LecTool: tool, 
            LecStep:step  
        }

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // 請求成功，執行相應的處理邏輯
                alert("活動設計表建立成功");
                window.location.href = "/LectureTables/Search";
                var response = JSON.parse(xhr.responseText);
                
            }

        };
        xhr.send(JSON.stringify(data));
        
    })
</script>

