@model long_term_care.Models.LectureClass

@{
    ViewData["Title"] = "Create";
}
<style>
    .fix {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-size: 1.8em;
    }

    .fixcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 80%;
        padding: 20px;
        background-color: #CBE9EA;
    }

        .fixcontent p {
            margin: 10px;
            font-size: 1.2em;
        }

        .fixcontent select,
        .fixcontent input[type="text"] {
            font-size: 1.2em;
        }

    .send {
        margin-top: 20px;
    }

        .send button {
            margin-right: 10px;
            padding: 12px 24px;
            font-size: 1.4em;
        }
</style>



<div class="fix">
    <div class="fixcontent">
        <div class="chooseweek">
            <p>
                選擇星期:
                <select id="week">
                    <option value="星期一">星期一</option>
                    <option value="星期二">星期二</option>
                    <option value="星期三">星期三</option>
                    <option value="星期四">星期四</option>
                    <option value="星期五">星期五</option>
                </select>
            </p>
        </div>
        <div class="choosclass">
            <p>
                選擇時段:
                <select id="time">
                    <option value="SchA">7:30-8:30</option>
                    <option value="SchB">8:30 - 9:00</option>
                    <option value="SchC">9:00 - 9:30</option>
                    <option value="SchD">9:30 - 12:00</option>
                    <option value="SchE">13:00 - 16:00</option>
                </select>
            </p>
        </div>
        <div class="content"id="content">
            <p>修改內容:<input type="text" id="subject"></p>
        </div>
        <div class="send">
            <button type="button" class="btn btn-primary" id="fix">修改</button>
            <button type="button" class="btn btn-primary" id="back" onclick="location.href='@Url.Action("Index", "LectureClasses")'">返回</button>
        </div>
    </div>
</div>

<script>
          

            var fixbtn = document.getElementById("fix");
                fixbtn.addEventListener("click", function () {
                var week = document.getElementById("week").value;
                var time = document.getElementById("time").value;
                var subject = document.getElementById("subject").value;
           
                
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/LectureClasses/Create", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                // 將selectedValue轉換為JSON格式
                var data = {
                    Week : week,
                    Time  : time,
                    Subject : subject,
                }

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        // 請求成功，執行相應的處理邏輯
                        var response = JSON.parse(xhr.responseText);
                        
                    }

                };
                xhr.send(JSON.stringify(data));
                alert("課表修改成功");
                window.location.href = "/LectureClasses/Check";
            })
        </script>

