<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" href="#">首頁</button>
</div>
<div class="wrap_Entry">
    <button class="Edit" onclick="location.href='@Url.Action("Create", "LectureClasses")'">填寫</button>

    <br />

    <button class="View" onclick="location.href='@Url.Action("Check", "LectureClasses")'">查閱</button>

</div>