<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
    <h4>課表查看</h4>
</div>

<div class="wrap_Entry">

    <button class="Btn View" onclick="location.href='@Url.Action("Act", "LectureClasses")'">
    查看
        <svg class="svg" viewBox="0 0 512 512">
            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
        </svg>
    </button>

    <br />
    <button class="Btn Edit" onclick="location.href='@Url.Action("Create", "LectureClasses")'">
        修改
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
            <style>
                svg {
                    fill: #ffffff
                }</style>
            <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V285.7l-86.8 86.8c-10.3 10.3-17.5 23.1-21 37.2l-18.7 74.9c-2.3 9.2-1.8 18.8 1.3 27.5H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z" />
        </svg>
    </button>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

<script>
    const FIREFLIES = 10;
    const maxHeight = 600;
    const maxWidth = 1200;
    const wrapEntry = document.querySelector('.wrap'); 

    const random = (min, max) => {
        return Math.floor(Math.random() * (max - min) + min);
    }

    for (let i = 0; i < FIREFLIES; i++) {
        let div = document.createElement('div');
        div.setAttribute('class', 'firefly');
        wrapEntry.appendChild(div); 
    }
    var fireflies = document.querySelectorAll('.firefly');
    for(var i = 0; i < FIREFLIES; i++) {
        let ix = random(-10, maxWidth+10);
        let fx = random(-10, maxWidth+10);

        let iy = random(-10, maxHeight+10);
        let fy = random(-10, maxHeight+10);

        gsap.fromTo(fireflies[i], {
            x: ix,
            y: iy,
        }, {
            x: fx,
            y: fy, 
            duration: random(5, 15),
            ease: "rough({template: none.out, strength: 1, points: 20, taper: 'none', randomize: true, clamp:false})",
            repeat: -1,
            yoyo: true,
        });
        gsap.fromTo(fireflies[i], {
            boxShadow: "0 0 0 0px rgba(154, 205, 50, 0)",
        }, {
            boxShadow: "0 0 0 3px rgba(154, 205, 50, 0.4)",
            duration: random(2, 4),
            ease: "slow(0.7, 0.7, false)",
            repeat: -1,
            yoyo: true,
        });
        gsap.fromTo(fireflies[i], {
            opacity: 0,
        }, {
            duration: random(1, 5),
            opacity: 0.9,
            repeat: -1,
            yoyo: true,
        })
    };
</script>

