<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
</div>
<div class="wrap_Entry">
    <button class="View" onclick="location.href='@Url.Action("Act", "LectureClasses")'">查閱</button>   
    <br />
    <button class="Edit" onclick="location.href='@Url.Action("Create", "LectureClasses")'">修改</button>

</div>