@model IEnumerable<long_term_care.Models.CaseCareRecord>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
    <h4>關懷訪視紀錄表</h4>
</div>
<div class="wrap_Entry">
    <button class="Edit" onclick="location.href='@Url.Action("Search", "CaseCareRecords")'">填寫</button>

    <br />
    
    <button class="View" onclick="location.href='@Url.Action("Details", "CaseCareRecords")'">查閱</button>

</div>
