@model IEnumerable<long_term_care.Models.CaseInfor>

@{
    ViewData["Title"] = "Index";
}
<body>

    <div id="fullscreen-image">
        <h2 id="register">註冊</h2>
        <h4 id="identity">請選擇身分</h4>
        <div class="section">
            <button id="volunteer">志工</button>
            <button id="elder">長者</button>
        </div>
    </div>


    <!-- messageBox -->
    <!-- Volunteer -->
    <div id="volunteerMsgBox" class="hidden">
        <div class="container">
            <div class="title">
                <h3>註冊</h3>
                <div class="knownAs">
                    <p>照護人員</p>
                </div>
                <div style="color:red; display:flex; align-items:center;">
                    <h4>*為必填欄位</h4>
                </div>
                   <button class="closeMessageBox" id="closeVolunteer" name="close" type="submit">&#x2716;</button>             
            </div>
            <hr>
            <form class="volunteer">
                <div class="row">
                    <div class="col-4">
                         <label for="memunitname">單位名稱<span class="required">*</span></label>
                          <input type="text" placeholder="&nbsp;&nbsp;" required id="memunitname">                      
                    </div>
                    <div class="col-4">
                        <label for="memunitid">單位編號<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="memunitid">
                    </div>
                    <div class="col-4">
                        <label for="memid">員工證號碼<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="memid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="memlastname">姓氏<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="memlastname">
                    </div>
                    <div class="col-3">
                        <label for="memfirstname">名字<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="memfirstname">
                    </div>
                    <div class="col-3">
                        <label for="memgender">性別<span class="required">*</span></label>
                        <select id="memgender" required>
                            <option value="na"></option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="memidcard">身分證<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="memidcard">
                    </div>
                </div>
                <div class="col-12">
                    <label for="memyear"style="margin-left:10px">出生日期<span class="required">*</span></label>
                </div>
                <div class="row">
                    <div class="col-3">
                        <select class="yearSelect" required id="memyear"></select>
                    </div>
                    <div class="col-3">
                        <select class="monthSelect" required id="memmonth">
                            <option value="na">月份</option>
                            <option value="1">一月</option>
                            <option value="2">二月</option>
                            <option value="3">三月</option>
                            <option value="4">四月</option>
                            <option value="5">五月</option>
                            <option value="6">六月</option>
                            <option value="7">七月</option>
                            <option value="8">八月</option>>
                            <option value="9">九月</option>
                            <option value="10">十月</option>
                            <option value="11">十一月</option>
                            <option value="12">十二月</option>

                        </select>
                    </div>
                    <div class="col-3">
                        <select class="daySelect" required id="memday"></select>
                    </div>
                    <div class="col-3">
                        <label for="memlistidentity">身分別</label>
                        <select id="memlistidentity" required>
                            <option value=""></option>
                            <option value="Low-income">低收入戶</option>
                            <option value="near-poor">中低收入戶</option>
                            <option value="normal">一般戶老人</option>
                            <option value="solitary">獨居老人</option>
                            <option value="handicapped">身心障礙者</option>
                            <option value="others">其他</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="memeducationLevel">教育程度</label>
                        <select id="memeducationLevel">
                            <option value=""></option>
                            <option value="不識字">不識字</option>
                            <option value="自修">自修</option>
                            <option value="國小">國小</option>
                            <option value="國中">國中</option>
                            <option value="高中職">高中職</option>
                            <option value="專科">專科</option>
                            <option value="大學">大學</option>
                            <option value="研究所以上">研究所以上</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="memtel">電話</label>
                        <input type="tel" placeholder="&nbsp;&nbsp;"id="memtel">
                    </div>
                    <div class="col-4">
                        <label for="memphone">手機</label>
                        <input type="tel" placeholder="&nbsp;&nbsp;"id="memphone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="expertise">專長</label>
                        <input type="text" placeholder="&nbsp;&nbsp;"id="expertise">
                    </div>
                    <div class="col-4">
                        <label for="mempassword">密碼<span class="required">*</span></label>
                        <input type="password" placeholder="&nbsp;&nbsp;" required id="mempassword">
                    </div>
                    <div class="col-4">
                        <label for="mempasswordcheck">密碼確認<span class="required">*</span></label>
                        <input type="password" placeholder="&nbsp;&nbsp;" required id="mempasswordcheck">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="serviceaddress">服務據點</label>
                        <input type="text" placeholder="&nbsp;&nbsp;服務據點"  id="serviceaddress">
                    </div>
                    <div class="col-6">
                        <label for="memaddress">地址</label>
                        <input type="text" placeholder="&nbsp;&nbsp;地址"  id="memaddress">
                    </div>
                    <div class="col-2">
                        <label for="transportation">交通工具</label>
                        <input type="text" placeholder="&nbsp;&nbsp;交通工具"  id="transportation">
                    </div>
                </div>
                <div class="box">
                    <div class="boxL">
                        <div class="grid-container">
                            <div class="grid-item">
                                <label for="license">證照</label>
                                <input type="text" class="boxes"  id="license">
                            </div>
                            <div class="grid-item">
                                <label for="service">提供服務</label>
                                <input type="text" class="boxes" placeholder="&nbsp;&nbsp;簡短概述"  id="service">
                            </div>
                            <div class="grid-item">
                                <label for="motivation">加入動機</label>
                                <input type="text" class="boxes" placeholder="&nbsp;&nbsp;簡短概述" required id="motivation">
                            </div>
                            <div class="grid-item">
                                <label for="record">服務紀錄</label>
                                <input type="text" class="boxes" required id="record">
                            </div>
                        </div>
                    </div>
                    <div class="boxR">
                        <label for="exp">經驗</label>
                        <input type="text" id="exp" >
                    </div>
                </div>
                <div class="vReadyToSubmit">
                    <button class="closeMessageBox" type="submit" id="memberbtn">註冊</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Elder -->
    <div id="elderMsgBox" class="hidden">
        <div class="container">
            <div class="title">
                <h3>註冊</h3>
                <div class="knownAs">
                    <p>長者</p>
                </div>
                <div style="color:red; display:flex; align-items:center;">
                    <h4>*為必填欄位</h4>
                </div>
                <form method="get" action="/Main/Caseinfor">
                    <button class="closeMessageBox" id="closeElder" type="submit">&#x2716;</button>
                </form>            
            </div>
            <hr>
            <form class="elder">
                <div class="row">
                    <div class="col-3">
                        <label for="unitname">單位名稱<span class="required">*</span></label>
                        <input type="text" id="unitname" placeholder="&nbsp;&nbsp;" required>
                    </div>
                    <div class="col-3">
                        <label for="unitid">單位編號<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="unitid">
                    </div>
                    <div class="col-3">
                        <label for="id">個案編號<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="id">
                    </div>
                    <div class="col-3">
                        <label for="source">個案來源<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="source">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="lastname">姓氏<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="lastname">
                    </div>
                    <div class="col-3">
                        <label for="firstname">名字<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="firstname">
                    </div>
                    <div class="col-3">
                        <label for="gender">性別<span class="required">*</span></label>
                        <select id="gender" required>
                            <option value=""></option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="idcard">身分證<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="idcard">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="yearSelect" style="">出生日期<span class="required">*</span></label>
                        <select class="yearSelect" required id="year"></select>
                    </div>
                    <div class="col-3">
                        <label for="yearSelect" style=""><span class="required"></span></label>
                        <select class="monthSelect" required id="month">
                            <option value="">月份</option>
                            <option value="1">一月</option>
                            <option value="2">二月</option>
                            <option value="3">三月</option>
                            <option value="4">四月</option>
                            <option value="5">五月</option>
                            <option value="6">六月</option>
                            <option value="7">七月</option>
                            <option value="8">八月</option>>
                            <option value="9">九月</option>
                            <option value="10">十月</option>
                            <option value="11">十一月</option>
                            <option value="12">十二月</option>

                        </select>
                    </div>
                    <div class="col-3">
                        <label for="yearSelect" style=""><span class="required"></span></label>
                        <select class="daySelect" required id="day"></select>
                    </div>
                    <div class="col-1">
                        <label for="language">語言</label>
                        <select id="language">
                            <option value=""></option>
                            <option value="國語">國語</option>
                            <option value="英語">英語</option>
                            <option value="台語">台語</option>
                            <option value="客語">客語</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="culture">信仰</label>
                        <select id="culture">
                            <option value=""></option>
                            <option value="道教">道教</option>
                            <option value="天主教">天主教</option>
                            <option value="基督教">基督教</option>
                            <option value="佛教">佛教</option>
                            <option value="伊斯蘭教">伊斯蘭教</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="educationLevel">教育程度</label>
                        <select id="educationLevel" >
                            <option value=""></option>
                            <option value="不識字">不識字</option>
                            <option value="自修">自修</option>
                            <option value="國小">國小</option>
                            <option value="國中">國中</option>
                            <option value="高中職">高中職</option>
                            <option value="專科">專科</option>
                            <option value="大學">大學</option>
                            <option value="研究所以上">研究所以上</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="password">密碼<span class="required">*</span></label>
                        <input type="password" placeholder="&nbsp;&nbsp;" required id="password">
                    </div>
                    <div class="col-4">
                        <label for="passwordcheck">密碼確認<span class="required">*</span></label>
                        <input type="password" placeholder="&nbsp;&nbsp;" required id="passwordcheck">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="marital-status">婚姻狀況</label>
                        <select id="marital-status">
                            <option value=""></option>
                            <option value="未婚">未婚</option>
                            <option value="已婚">已婚</option>
                            <option value="分居">分居</option>
                            <option value="喪偶">喪偶</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="family">聯絡人</label>
                        <input type="text" placeholder="&nbsp;&nbsp;"  id="family">
                    </div>
                    <div class="col-2">
                        <label for="relationship">聯絡人關係</label>
                        <select id="relationship">
                            <option value=""></option>
                            <option value="父親">父親</option>
                            <option value="母親">母親</option>
                            <option value="夫妻">夫妻</option>
                            <option value="子女">子女</option>
                            <option value="兄弟">兄弟</option>
                            <option value="姐妹">姐妹</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="familyphone">聯絡人電話</label>
                        <input type="tel" placeholder="&nbsp;&nbsp;"id="familyphone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="address">長者居住地址</label>
                        <input type="tel" placeholder="&nbsp;&nbsp;" id="address">
                    </div>
                    <div class="col-6">
                        <label for="familyaddress">聯絡人地址</label>
                        <input type="text" placeholder="&nbsp;&nbsp;"id="familyaddress">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="family-status">家庭狀況</label>
                        <select id="family-status">
                            <option value=""></option>
                            <option value="核心家庭">核心家庭</option>
                            <option value="大家庭">大家庭</option>
                            <option value="單親家庭">單親家庭</option>
                            <option value="繼親">繼親</option>
                            <option value="隔代教養">隔代教養</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="listidentity">身份別</label>
                        <select id="listidentity">
                            <option value=""></option>
                            <option value="低收入戶">低收入戶</option>
                            <option value="中低收入戶">中低收入戶</option>
                            <option value="一般戶老人">一般戶老人</option>
                            <option value="獨居老人">獨居老人</option>
                            <option value="身心障礙者">身心障礙者</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="listeconomy">經濟來源</label>
                        <select id="listeconomy">
                            <option value=""></option>
                            <option value="無">無</option>
                            <option value="子女奉養">子女奉養</option>
                            <option value="政府補助">政府補助</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="work">工作</label>
                        <input type="text" placeholder="&nbsp;&nbsp;"id="work">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="health">身體狀況</label>
                        <select id="health">
                            <option value=""></option>
                            <option value="正常">正常</option>
                            <option value="輕微系統疾病但無功能障礙">輕微系統疾病但無功能障礙</option>
                            <option value="中等至嚴重程度的系統疾病且導致某些功能障礙">中等至嚴重程度的系統疾病且導致某些功能障礙</option>
                            <option value="嚴重程度的系統疾病且無法自理">嚴重程度的系統疾病且無法自理</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="factly">輔助器具</label>
                        <select id="factly">
                            <option value=""></option>
                            <option value="無">無 </option>
                            <option value="助聽器 ">助聽器 </option>
                            <option value="輪椅">輪椅</option>
                            <option value="助行器">助行器</option>
                            <option value="柺杖">柺杖</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="activity-type">活動型態</label>
                        <select id="activity-type">
                            <option value=""></option>
                            <option value="完全自理">完全自理</option>
                            <option value="部分自理">部分自理</option>
                            <option value="完全無法自理">完全無法自理</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="house-condition">屋況</label>
                        <select id="house-condition">
                            <option value=""></option>
                            <option value="自有住宅">自有住宅</option>
                            <option value="租賃">租賃</option>
                            <option value="借住">借住</option>
                            <option value="臨時住屋">臨時住屋</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="interest">興趣與專長</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述三項"id="interest">
                    </div>
                    <div class="col-4">
                        <label for="question">主觀問題</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述" id="question">
                    </div>
                    <div class="col-4">
                        <label for="replenish">補充陳述</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述"id="replenish">
                    </div>
                </div>
                <div class="eReadyToSubmit">
                    <button class="closeMessageBox" id="sendbtn">註冊</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const memidcard = document.getElementById('memidcard');

        function validateIDCard(event) {
            
        }

        memberbtn.addEventListener('submit', validateIDCard);

    </script>
    <script>
        //--------------長者註冊----------------
        var sendbtn = document.getElementById("sendbtn")
        sendbtn.addEventListener("click", function (event) {
            event.preventDefault();
            var unitname = document.getElementById("unitname").value;
            var unitid = document.getElementById("unitid").value;
            var id = document.getElementById("id").value;
            var source = document.getElementById("source").value;
            var lastname = document.getElementById("lastname").value;
            var firstname = document.getElementById("firstname").value;
            var gender = document.getElementById("gender").value;
            var educationLevel = document.getElementById("educationLevel").value;
            var year = document.getElementById("year").value;
            var month = document.getElementById("month").value;
            var day = document.getElementById("day").value;
            var language = document.getElementById("language").value;
            var culture = document.getElementById("culture").value;
            var idcard = document.getElementById("idcard").value;
            var password = document.getElementById("password").value;
            var passwordcheck = document.getElementById("passwordcheck").value;
            var marital_status = document.getElementById("marital-status").value;
            var family = document.getElementById("family").value;
            var relationship = document.getElementById("relationship").value;
            var familyphone = document.getElementById("familyphone").value;
            var address = document.getElementById("address").value;
            var familyaddress = document.getElementById("familyaddress").value;
            var family_status = document.getElementById("family-status").value;
            var listidentity = document.getElementById("listidentity").value;
            var listeconomy = document.getElementById("listeconomy").value;
            var work = document.getElementById("work").value;
            var health = document.getElementById("health").value;
            var activity_type = document.getElementById("activity-type").value;
            var house_condition = document.getElementById("house-condition").value;
            var interest = document.getElementById("interest").value;
            var question = document.getElementById("question").value;
            var replenish = document.getElementById("replenish").value;
            var factly = document.getElementById("factly").value;
            var Name = lastname + firstname;
            var RegTime = new Date();
            var bd = year + "/" + month + "/" + day;

            
                
                var idCardRegex = /^[A-Z]\d{9}$/;
                if (unitname === "" || unitid === "" || id === "" || lastname === "" || firstname === "" || gender === "" || year === "" || month === "" || day === "" || idcard === "" || password === "" || passwordcheck === "") {
                    // 有必填欄位為空，彈出警示框提示使用者
                    alert("請填寫必填欄位");
                    return; // 停止後續操作
                }
                if (!idCardRegex.test(idcard)) {
                    alert("身分證格式不正確");
                    return; // Stop further execution
                }

                // Validate password match
                if (password !== passwordcheck) {
                    alert("密碼與確認密碼不一致");
                    return; // Stop further execution
                }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Main/Caseinfor", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                // 將selectedValue轉換為JSON格式
                var data = {
                    "type": 2,
                    "CaseNo": id,
                    "CaseUnitName": unitname,
                    "CaseUnitNum": unitid,
                    "CaseName": Name,
                    "CaseIdcard": idcard,
                    "CasePassword": password,
                    "CaseGender": gender,
                    "CaseRelig": culture,
                    "CaseBd": bd,
                    "CaseLang": language,
                    "CaseSource": source,
                    "CaseWork": work,
                    "CaseProf": interest,
                    "CaseEdu": educationLevel,
                    "CaseAddr": address,
                    "CaseHouse": house_condition,
                    "CaseIdent": listidentity,
                    "CaseFund": listeconomy,
                    "CaseHealth": health,
                    "CaseActv": activity_type,
                    "CaseFactly": factly,
                    "CaseMari": marital_status,
                    "CaseCnta": family,
                    "CaseCntTel": familyphone,
                    "CaseCntRel": relationship,
                    "CaseCntAdd": familyaddress,
                    "CaseFami": family_status,
                    "CaseQues": question,
                    "CaseDesc": replenish,
                    "CaseRegName": Name,
                    "CaseRegTime": RegTime,
                }

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        // 請求成功，執行相應的處理邏輯
                        alert("註冊成功");
                        window.location.href = "/Main/Login";
                        var response = JSON.parse(xhr.responseText);
                        
                       
                    }

                };
                xhr.send(JSON.stringify(data));
            


        })
    </script>
    <script>
        //--------------志工註冊----------------
        var memberbtn = document.getElementById("memberbtn")
        memberbtn.addEventListener("click", function (event) {
            event.preventDefault();
            var unitname = document.getElementById("memunitname").value;
            var unitid = document.getElementById("memunitid").value;
            var id = document.getElementById("memid").value;
            var lastname = document.getElementById("memlastname").value;
            var firstname = document.getElementById("memfirstname").value;
            var gender = document.getElementById("memgender").value;
            var educationLevel = document.getElementById("memeducationLevel").value;
            var year = document.getElementById("memyear").value;
            var month = document.getElementById("memmonth").value;
            var day = document.getElementById("memday").value;
            var idcard = document.getElementById("memidcard").value;
            var password = document.getElementById("mempassword").value;
            var passwordcheck = document.getElementById("mempasswordcheck").value;
            var address = document.getElementById("memaddress").value;
            var tel = document.getElementById("memtel").value;
            var phone = document.getElementById("memphone").value;
            var listidentity = document.getElementById("memlistidentity").value;
            var expertise = document.getElementById("expertise").value;
            var serviceaddress = document.getElementById("serviceaddress").value;
            var transportation = document.getElementById("transportation").value;
            var license = document.getElementById("license").value;
            var service = document.getElementById("service").value;
            var motivation = document.getElementById("motivation").value;
            var record = document.getElementById("record").value;
            var exp = document.getElementById("exp").value;

            var Name = lastname + firstname;
            var bd = year + "/" + month + "/" + day;
            var idCardRegex = /^[A-Z]\d{9}$/;
            if (unitname === "" || unitid === "" || id === "" || lastname === "" || firstname === "" || gender === "" || year === "" || month === "" || day === "" || idcard === "" || password === "" || passwordcheck === "") {
                // 有必填欄位為空，彈出警示框提示使用者
                alert("請填寫必填欄位");
                return; // 停止後續操作
            }
            if (!idCardRegex.test(idcard)) {
                alert("身分證格式不正確");
                return; // Stop further execution
            }

            // Validate password match
            if (password !== passwordcheck) {
                alert("密碼與確認密碼不一致");
                return; // Stop further execution
            }
           
                

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Main/Caseinfor", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                // 將selectedValue轉換為JSON格式
                var data = {
                    "type": 1,
                    "MemSid": id,
                    "MemUnitName": unitname,
                    "MemUnitNum": unitid,
                    "MemName": Name,
                    "MemUid": idcard,
                    "MemPassword": password,
                    "MemGender": gender,
                    "MemBd": bd,
                    "MemTphone": tel,
                    "MemMphone": phone,
                    "MemAddress": address,
                    "MemSite": serviceaddress,
                    "MemProf": expertise,
                    "MemCert": license,
                    "MemTrans": transportation,
                    "MemExpr": exp,
                    "MemMovt": motivation,
                    "MemPserv": service,
                    "MemIdent": listidentity,
                    "MemSerRec": record,
                    "MemEdu": educationLevel
                }

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        // 請求成功，執行相應的處理邏輯
                        alert("註冊成功");
                        window.location.href = "/Main/Login";
                        var response = JSON.parse(xhr.responseText);
                        
                    }

                };
                xhr.send(JSON.stringify(data));
            

        })
    </script>
    <script>
        $(document).ready(function () {
           


            var currentYear = new Date().getFullYear();
            var startYear = currentYear - 112;
            var endYear = currentYear + 112;
            var yearSelect = $('.yearSelect');
            for (var year = startYear; year <= endYear; year++) {
                yearSelect.append($('<option>', {
                    value: year,
                    text: year
                }));
            }

            var daysInMonth = 31;
            var daySelect = $('.daySelect');
            for (var day = 1; day <= daysInMonth; day++) {
                daySelect.append($('<option>', {
                    value: day,
                    text: day
                }));
            }

            $('#renewPassword').click(function () {
                $('body').append(translucentOverlay);
                messageBox.fadeIn().addClass('large');
            });
        });
        var closeVolunteer = document.getElementById("closeVolunteer");
        closeVolunteer.addEventListener("click",function(){
            location.reload();
        })

        var closeElder = document.getElementById("closeElder");
        closeElder.addEventListener("click", function () {
            location.reload();
        })
    </script>
</body>
<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .required {
        color: red;
    }
    /* EntryPage */
    #fullscreen-image {
        background-color: #CBE9EA;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }

        #fullscreen-image > h2 {
            text-align: start;
            font-size: 50px;
            font-weight: 300;
            color: #fff;
            padding: 30px 0 0 80px;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        #fullscreen-image > h4 {
            text-align: start;
            font-size: 28px;
            font-weight: 100;
            color: #afadad;
            margin: 0;
            padding: 5px 0 0 80px;
        }

    .section {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        height: 100%;
    }

    #fullscreen-image .section > button {
        margin: 50px;
    }

    #volunteer, #elder {
        transition: all 0.3s ease-in-out;
    }

    #volunteer, #elder {
        font-size: 34px;
        width: 280px;
        height: 170px;
        border-radius: 50px;
        background-color: #f6c3d2;
        box-shadow: 0 20px 30px -6px rgba(64, 153, 201, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        color: rgb(241, 240, 240);
    }

        #volunteer:hover, #elder:hover {
            transform: translateY(3px);
            box-shadow: none;
        }

        #volunteer:active, #elder:active {
            opacity: 0.5;
        }

    .hidden {
        display: none;
    }

    .translucent-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(169, 167, 167, 0.5);
        z-index: 9999; /* Ensure the overlay appears on top of other elements */
    }

    #volunteerMsgBox, #elderMsgBox {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        z-index: 10000; /* Ensure the message box appears on top of the overlay */
    }

    /* RegisterPage */

    /* volunteer */
    .large {
        width: 95%;
        height: 95%;
        border-radius: 10px;
    }

    .container {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .title {
        display: flex;
        align-content: flex-end;
    }

    .knownAs {
        width: 5.4%;
        height: 44%;
        border-radius: 10px;
        background-color: rgb(68, 154, 224);
        color: #FFFFFF;
        margin: 10px 0 0 10px;
        text-align: center;
    }

        .knownAs p {
            font-size: 13px;
            position: relative;
            padding: 2px;
        }

    hr {
        margin-top: 0em !important;
        margin-bottom: 1em !important;
        border-width: 1px;
    }

    #close, #closeVolunteer, #closeElder {
        color: gray;
        background-color: transparent;
        border: none;
        font-size: 25px;
        position: absolute;
        right: 0;
    }

    .row {
        margin: 13.5px 0;
    }

    input, select {
        position: relative;
        height: 35px;
        background: rgba(240, 236, 236, 0.68);
        border: 1px solid #686868;
        border-radius: 10px;
    }

        input:not(.boxes), select {
            width: 100%;
        }

    .box {
        display: flex;
    }

    .boxL {
        float: left;
        width: 100%;
    }

    .boxR {
        float: right;
    }

        .boxR #exp {
            width: 400px;
            height: 85%;
        }

    .boxL .boxes {
        width: 100%;
    }

    .grid-container {
        width: 97%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
    }

    .grid-item {
        background-color: transparent;
        padding: 0px;
    }

    .vReadyToSubmit, .eReadyToSubmit {
        margin: auto;
        text-align: center;
    }

        .vReadyToSubmit button {
            margin: 20px;
        }

        .eReadyToSubmit button {
            margin: 0;
        }

    .closeMessageBox:not(#closeVolunteer):not(#closeElder):not(#close) {
        transition: all 0.3s ease-in-out;
        font-size: 20px;
        width: 170px;
        height: 50px;
        border-radius: 50px;
        background-color: #4CAF50;
        box-shadow: 0 20px 30px -6px rgba(64, 201, 89, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        color: white;
    }

    .closeMessageBox:hover:not(#closeVolunteer):not(#closeElder):not(#close) {
        transform: translateY(3px);
        box-shadow: none;
    }

    .closeMessageBox:active:not(#closeVolunteer):not(#closeElder):not(#close) {
        opacity: 0.6;
    }

    input:focus, select:focus {
        outline: none;
    }

</style>


