@model IEnumerable<long_term_care.Models.CaseInfor>

<link href="~/css/Reg.css" rel="stylesheet" />

<body>
    <div id="elderMsgBox" class="hidden">
        <div class="container">
            <div class="title">
                <h3>註冊</h3>
                <div class="knownAs">
                    <p>長者</p>
                </div>
                <div style="color:red; display:flex; align-items:center;">
                    <h4>*為必填欄位</h4>
                </div>
            </div>
            <hr>
            <form class="elder">
                <div class="row">
                    <div class="col-3">
                        <label for="unitname">單位名稱<span class="required">*</span></label>
                        <input type="text" id="unitname" placeholder="&nbsp;&nbsp;" required>
                    </div>
                    <div class="col-3">
                        <label for="unitid">單位編號<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="unitid">
                    </div>
                    <div class="col-3">
                        <label for="id">個案編號<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" value="@ViewBag.CaseNo" readonly required id="id">
                    </div>
                    <div class="col-3">
                        <label for="source">個案來源<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="source">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="lastname">姓氏<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="lastname">
                    </div>
                    <div class="col-3">
                        <label for="firstname">名字<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="firstname">
                    </div>
                    <div class="col-3">
                        <label for="gender">性別<span class="required">*</span></label>
                        <select id="gender" required>
                            <option value=""></option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="idcard">身分證<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" required id="idcard">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="CaseBD">出生日期<span class="required">*</span></label>
                        <input type="date" placeholder="&nbsp;&nbsp;" required id="CaseBD">
                    </div>
                    <div class="col-3">
                        <label for="listidentity">身份別<span class="required">*</span></label>
                        <select id="listidentity" required>
                            <option value=""></option>
                            <option value="低收入戶">低收入戶</option>
                            <option value="中低收入戶">中低收入戶</option>
                            <option value="一般戶老人">一般戶老人</option>
                            <option value="獨居老人">獨居老人</option>
                            <option value="身心障礙者">身心障礙者</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                   
                        @*
                        <div class="form-group">
                            <label for="City">地址<span class="required">*</span></label>
                            <select class="form-control" id="City">
                                <option value="">請選擇城市</option>
                                @foreach (var address in Model)
                                {
                                    <option>@item.City</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-2">
                            <select class="form-control" id="District">
                                <option value="">請選擇鄉鎮市區</option>
                                @foreach (var item in Model)
                                {
                                    <option>@item.District</option>
                                }
                            </select>
                        </div>
                       
                        <div class="form-group col-2">
                             <input type="text" id="Street" name="street" placeholder="街道">
                        </div>*@
                    
                </div>


                <div class="row">

                    <div class="col-3">
                        <label for="family">聯絡人<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;" id="family" required>
                    </div>
                    <div class="col-2">
                        <label for="relationship">聯絡人關係<span class="required">*</span></label>
                        <select id="relationship" required>
                            <option value=""></option>
                            <option value="父親">父親</option>
                            <option value="母親">母親</option>
                            <option value="夫妻">夫妻</option>
                            <option value="子女">子女</option>
                            <option value="兄弟">兄弟</option>
                            <option value="姐妹">姐妹</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="familyphone">聯絡人電話<span class="required">*</span></label>
                        <input type="tel" placeholder="&nbsp;&nbsp;" id="familyphone" required>
                    </div>
                    <div class="col-4">
                        <label for="IC">IC<span class="required">*</span></label>
                        <input type="text" placeholder="&nbsp;&nbsp;健保卡號碼" id="IC" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="educationLevel">教育程度</label>
                        <select id="educationLevel">
                            <option value=""></option>
                            <option value="不識字">不識字</option>
                            <option value="自修">自修</option>
                            <option value="國小">國小</option>
                            <option value="國中">國中</option>
                            <option value="高中職">高中職</option>
                            <option value="專科">專科</option>
                            <option value="大學">大學</option>
                            <option value="研究所以上">研究所以上</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="marital-status">婚姻狀況</label>
                        <select id="marital-status">
                            <option value=""></option>
                            <option value="未婚">未婚</option>
                            <option value="已婚">已婚</option>
                            <option value="分居">分居</option>
                            <option value="喪偶">喪偶</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label for="language">語言</label>
                        <select id="language">
                            <option value=""></option>
                            <option value="國語">國語</option>
                            <option value="英語">英語</option>
                            <option value="台語">台語</option>
                            <option value="客語">客語</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <label for="culture">信仰</label>
                        <select id="culture">
                            <option value=""></option>
                            <option value="道教">道教</option>
                            <option value="天主教">天主教</option>
                            <option value="基督教">基督教</option>
                            <option value="佛教">佛教</option>
                            <option value="伊斯蘭教">伊斯蘭教</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="familyaddress">聯絡人地址</label>
                        <input type="text" placeholder="&nbsp;&nbsp;" id="familyaddress">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="family-status">家庭狀況</label>
                        <select id="family-status">
                            <option value=""></option>
                            <option value="核心家庭">核心家庭</option>
                            <option value="大家庭">大家庭</option>
                            <option value="單親家庭">單親家庭</option>
                            <option value="繼親">繼親</option>
                            <option value="隔代教養">隔代教養</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>

                    <div class="col-3">
                        <label for="listeconomy">經濟來源</label>
                        <select id="listeconomy">
                            <option value=""></option>
                            <option value="無">無</option>
                            <option value="子女奉養">子女奉養</option>
                            <option value="政府補助">政府補助</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="work">工作</label>
                        <input type="text" placeholder="&nbsp;&nbsp;" id="work">
                    </div>
                    <div class="col-3">
                        <label for="health">身體狀況</label>
                        <select id="health">
                            <option value=""></option>
                            <option value="正常">正常</option>
                            <option value="輕微系統疾病但無功能障礙">輕微系統疾病但無功能障礙</option>
                            <option value="中等至嚴重程度的系統疾病且導致某些功能障礙">中等至嚴重程度的系統疾病且導致某些功能障礙</option>
                            <option value="嚴重程度的系統疾病且無法自理">嚴重程度的系統疾病且無法自理</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="factly">輔助器具</label>
                        <select id="factly">
                            <option value=""></option>
                            <option value="無">無 </option>
                            <option value="助聽器 ">助聽器 </option>
                            <option value="輪椅">輪椅</option>
                            <option value="助行器">助行器</option>
                            <option value="柺杖">柺杖</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="activity-type">活動型態</label>
                        <select id="activity-type">
                            <option value=""></option>
                            <option value="完全自理">完全自理</option>
                            <option value="部分自理">部分自理</option>
                            <option value="完全無法自理">完全無法自理</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="house-condition">屋況</label>
                        <select id="house-condition">
                            <option value=""></option>
                            <option value="自有住宅">自有住宅</option>
                            <option value="租賃">租賃</option>
                            <option value="借住">借住</option>
                            <option value="臨時住屋">臨時住屋</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="interest">興趣與專長</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述三項" id="interest">
                    </div>
                    <div class="col-4">
                        <label for="question">主觀問題</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述" id="question">
                    </div>
                    <div class="col-4">
                        <label for="replenish">補充陳述</label>
                        <input type="text" class="elderBoxes" placeholder="&nbsp;&nbsp;簡短概述" id="replenish">
                    </div>
                </div>
                <div class="eReadyToSubmit">
                    <button class="closeMessageBox" id="sendbtn">註冊</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<script>
        var locationData = @Html.Raw(Json.Serialize(Model));

        $(document).ready(function () {
            var cities = Object.keys(locationData);

            cities.forEach(function (city) {
                $('#city').append(`<option value="${city}">${city}</option>`);
            });

            $('#city').change(function () {
                var city = $(this).val();
                var townships = Object.keys(locationData[city]);

                $('#township').empty();
                $('#street').empty();

                townships.forEach(function (township) {
                    $('#township').append(`<option value="${township}">${township}</option>`);
                });
            });

            $('#township').change(function () {
                var city = $('#city').val();
                var township = $(this).val();
                var streets = locationData[city][township].村里;

                $('#street').empty();

                streets.forEach(function (street) {
                    $('#street').append(`<option value="${street}">${street}</option>`);
                });
            });
        });

    </script>*@


    
    <script>
        var sendbtn = document.getElementById("sendbtn")
        sendbtn.addEventListener("click", function (event) {
            event.preventDefault();
            var unitname = document.getElementById("unitname").value;
            var unitid = document.getElementById("unitid").value;
            var id = document.getElementById("id").value;
            var source = document.getElementById("source").value;
            var lastname = document.getElementById("lastname").value;
            var firstname = document.getElementById("firstname").value;
            var gender = document.getElementById("gender").value;
            var educationLevel = document.getElementById("educationLevel").value;
           
            var language = document.getElementById("language").value;
            var culture = document.getElementById("culture").value;
            var idcard = document.getElementById("idcard").value;

            var marital_status = document.getElementById("marital-status").value;
            var family = document.getElementById("family").value;
            var relationship = document.getElementById("relationship").value;
            var familyphone = document.getElementById("familyphone").value;
            var address = document.getElementById("address").value;
            var familyaddress = document.getElementById("familyaddress").value;
            var family_status = document.getElementById("family-status").value;
            var listidentity = document.getElementById("listidentity").value;
            var listeconomy = document.getElementById("listeconomy").value;
            var work = document.getElementById("work").value;
            var health = document.getElementById("health").value;
            var activity_type = document.getElementById("activity-type").value;
            var house_condition = document.getElementById("house-condition").value;
            var interest = document.getElementById("interest").value;
            var question = document.getElementById("question").value;
            var replenish = document.getElementById("replenish").value;
            var factly = document.getElementById("factly").value;
            var Name = lastname + firstname;
            var RegTime = new Date();
            var bd = document.getElementById("CaseBD").value;



            var idCardRegex = /^[A-Z]\d{9}$/;
            if (unitname === "" || unitid === "" || id === "" || lastname === "" || firstname === "" || gender === "" || CaseBD === "" || idcard === "" || password === "" || passwordcheck === "") {
                // 有必填欄位為空，彈出警示框提示使用者
                alert("請填寫必填欄位");
                return; // 停止後續操作
            }
            if (!idCardRegex.test(idcard)) {
                alert("身分證格式不正確");
                return; // Stop further execution
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Main/Caseinfor", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            // 將selectedValue轉換為JSON格式
            var data = {
                "type": 2,
                "CaseNo": id,
                "CaseUnitName": unitname,
                "CaseUnitNum": unitid,
                "CaseName": Name,
                "CaseIdcard": idcard,
                "CaseGender": gender,
                "CaseRelig": culture,
                "CaseBd": bd,
                "CaseLang": language,
                "CaseSource": source,
                "CaseWork": work,
                "CaseProf": interest,
                "CaseEdu": educationLevel,
                "CaseAddr": address,
                "CaseHouse": house_condition,
                "CaseIdent": listidentity,
                "CaseFund": listeconomy,
                "CaseHealth": health,
                "CaseActv": activity_type,
                "CaseFactly": factly,
                "CaseMari": marital_status,
                "CaseCnta": family,
                "CaseCntTel": familyphone,
                "CaseCntRel": relationship,
                "CaseCntAdd": familyaddress,
                "CaseFami": family_status,
                "CaseQues": question,
                "CaseDesc": replenish,
                "CaseRegName": Name,
                "CaseRegTime": RegTime,
            }

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // 請求成功，執行相應的處理邏輯
                    alert("註冊成功");
                    window.location.href = "/Main/Login";
                    var response = JSON.parse(xhr.responseText);


                }

            };
            xhr.send(JSON.stringify(data));
        })
    </script>
</body>



