body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NotoSansHK-Regular';
    src: url('/font/NotoSansHK-Regular.ttf') format('truetype');
}
.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F6F6;
    padding: 45px;
}

.wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-group {
    padding: 0;
    margin: 0;
}
.insideBox {
    height: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


    .insideBox h3 {
        text-align: center;
        margin-top: 0;
        color: #333333;
    }

.infoBox {
    margin: 40px 0;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #F6F6F6;
    transition: background-color 0.3s ease;
}

    input[type="text"]:focus,
    input[type="date"]:focus,
    select:focus {
        outline: none;
        background-color: #EAEAEA;
    }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #007AFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
}


.container .columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container .columns .cnt {
        border-radius: 10px;
        background-color: #333333;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

.example {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #FFE6ED;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .example h6 {
        margin: 0;
        font-size: 12px;
        color: #333333;
    }

.container {
    margin-top: 10px;
}

.infoBox .form-group.ord {
    display: flex;
    align-items: center;
}

    .infoBox .form-group.ord label {
        margin-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        color: #333333;
    }

    .infoBox .form-group.ord input[type="text"],
    .infoBox .form-group.ord select {
        flex: 1;
    }

.infoBox .form-group .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}
.cnt.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #5C9DF7;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

    a:hover {
        color: #7caef5;
    }

