html, body {
    margin: 0;
    height: 100%;
    background-image: url('../image/background.png');
    background-size:100% auto
}

.container-fluid {
    position: relative;
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.content {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    justify-content: space-between;
}

    .content .txt {
        width: 50%;
        float: left;
       
    }

.LogInBox {
    /*position: absolute;
    width: 330.04px;
    height: 610.44px;*/
    margin: 10%; /*Modify Here*/
    background: #FFA5C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 69px;
}

.LogIn {
    margin: auto;
    text-align: center;
}
.error {
    position: relative;
    margin: auto;
    text-align: center;
    color: red;
    background-color: white;
    text-align: center;
}
.error ul{
    display:flex;
    justify-content:center;
}
.LogIn input {
    position: relative;
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #857B7B;
    border-radius: 10px;
    margin: 10px 0;
}
input:not(.check):not(#password):not(#id) {
    margin-bottom: 20%;
}
.check {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    #verificationCodeImage {
        margin-top: 70px;
        width: 140px;
        height: 50px;
    }
.line {
    position: relative;
    width: 300px;
    left: 50%;
    height: 3rem;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid rgba(75, 73, 73, 0.4);
}

.loginBtn, .newAccount {
    transition: all 0.2s ease-in-out;
}

.loginBtn, .newAccount {
    position: relative;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border-radius: 11px;
    box-shadow: 0 20px 30px -6px rgba(69, 65, 68, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    background: rgba(84, 151, 248, 0.93);
}

    .loginBtn:hover, .newAccount:hover {
        transform: translateY(2px);
        box-shadow: none;
    }

    .loginBtn:active, .newAccount:active {
        opacity: 0.5;
    }

.content .img {
    display: none;
}
@media screen and (width > 768px) {
    .global_nav {
        padding: 0 73px;
    }

    .content .img {
        display: block;
    }

    .LogInBox {
        width: 463.2px;
        height: 619.2px;
        left: 168px;
        top: 178px;
    }

    .LogIn input {
        width: 300px;
        height: 60px;
        top: 40px;
        margin: 20px 0;
        right: 0px;
    }

    .check input {
        width: 150px;
        height: 50px;
    }

    .loginBtn, .newAccount {
        font-size: 20px;
        width: 300px;
        border-radius: 11px;
    }

    .content .img {
        position: relative;
        width: 50%;
        float: right;
        top: 200px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
