* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NotoSansHK-Regular';
    src: url('/font/NotoSansHK-Regular.ttf') format('truetype');
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color:silver;
    box-shadow: 0px 4px 6px rgba(0, 0, 2, 1);
}
.container-fluid {
    padding: 0;
}
    .container-fluid > div {
        justify-content: space-between;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.nav-item {
    margin-right: 10px;
}
.navbar-brand {
    margin: 0 0 0 20px;
}
.nav-link {
    margin: 0 0 0 5px;
}


.nav-link, .navbar-brand {
    color: #f0f0f0;
    font-weight: 600;
    font-size: 20px;
}

.head h5,
.head i {
    margin-top: 0.5rem;
    font-size: 1.8rem;
}

div.col-md-12 {
    text-align: center;
}

.row1 .col-md-12,
.row2 .col-md-12 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row1 {
    padding: 1px 0 0 0;
}

.row2 {
    padding: 1px 0 1px 0;
}

    .row1 .card,
    .row2 .card {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.row1 .head {
    background-color: #3d81bf;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

.row2 .head {
    background-color: #D04667;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

.card {
    margin: 7px 0;
}

    .card:hover:not(.head) {
        transform: scale(1.06);
        transition: 0.5s;
    }

.schedule {
    padding: 15px 0 0 15px;
    display: flex;
    background-color: #3D81BF;
    color: white;
    width: 300px;
}

.scheduleBox {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
}

    .scheduleBox .pics {
        padding-top: 5px;
    }

h5 {
    font-size: 18px;
}

div.card.head,
div.card-body {
    width: 170px;
    height: auto;
}

.row1 .card .card-body h5,
.row2 .card .card-body h5 {
    padding-top: 30px;
}

.row1 .card {
    width: 274px;
}

.row2 .card {
    width: 180px;
}

.schedule {
    width: 700px;
}

.scheduleBox {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
}

i {
    font-size: 60px;
}

.top_bg {
    background-image: url('../image/elder.jpg');
    background-size: cover;
    background-size: cover;
    background-position: center top;
    height: 400px;
    position: relative;
}
    .top_bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1;
    }
.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
    padding-left: 20px;
    width: 100%;
}

    .overlay h1 {
        color: white;
        font-size: 70px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

