@model long_term_care.Models.MemberInformation

@{
    ViewData["Title"] = "Details";
    bool isAdmin = User.IsInRole("管理員");
}


@using (Html.BeginForm("Details", "MemSigns", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="insideBox">
            <h3>志工出席紀錄</h3>
            <div class="content">
                @if (isAdmin)
                {
                    <input type="text" name="Name" placeholder="輸入志工編號">
                }
                else
                {
                    <p>編號: @Model.MemSid </p> <p>姓名: @Model.MemName </p>
                    <input type="text" name="Name" value="@Model.MemSid" style="display:none;">
                }
                <input type="month" name="MemTelTime1" id="MemTelTime1" placeholder="年月">
                <button type="submit">查詢</button>
            </div>
        </div>
        <div>
            <a asp-action="Index">返回</a>
        </div>
    </div>
}
@section topCSS {
    <style type="text/css">
        body {
            font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
        }

        .container-fluid {
            background-color: #CBE9EA;
            padding: 45px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .insideBox {
            border-radius: 20px;
            background-color: #F1FFFF;
            height: 100%;
        }

            .insideBox h3 {
                font-size: 18px;
                padding: 10px 30px;
            }

            .insideBox h5 {
                font-size: 15px;
                padding-left: 30px;
            }

        span {
            color: #A9A5A5;
        }

        .content {
            margin-top: 10%;
            padding: 3%;
            text-align: center;
        }

        input {
            border: 1px solid #A9A5A5;
            border-radius: 8px;
        }

            input:focus {
                outline: none;
            }

        button {
            border-radius: 8px;
            background-color: #5C9DF7;
            color: #FFFFFF;
            border: transparent;
        }

            button:hover {
                background-color: #7caef5;
            }

    </style>
}
