@model IEnumerable<long_term_care.Models.MemSign>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
     <h4>簽到/簽退表</h4>
</div>
<div class="container">
    <div class="wrap_Entry">
        <button class="Btn Edit" onclick="location.href='@Url.Action("Sign", "MemSigns")'">
            簽到
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  class="svg">
                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/>
            </svg>
        </button>
        <button class=" Btn Edit" onclick="location.href='@Url.Action("Signout", "MemSigns")'">
            簽退
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  class="svg">
                <path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/>
            </svg>
        </button>

        <button class="Btn View" onclick="location.href='@Url.Action("Details", "MemSigns")'" style="font-size: 27px;">
            出席紀錄
            <?xml version="1.0" ?>
            <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg" class="svg">
                <path d="M0 0h48v48h-48z" fill="none"/><path d="M25.99 6c-9.95 0-17.99 8.06-17.99 18h-6l7.79 7.79.14.29 8.07-8.08h-6c0-7.73 6.27-14 14-14s14 6.27 14 14-6.27 14-14 14c-3.87 0-7.36-1.58-9.89-4.11l-2.83 2.83c3.25 3.26 7.74 5.28 12.71 5.28 9.95 0 18.01-8.06 18.01-18s-8.06-18-18.01-18zm-1.99 10v10l8.56 5.08 1.44-2.43-7-4.15v-8.5h-3z" opacity=".9"/>
            </svg>
        </button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

<script>
    const FIREFLIES = 10;
    const maxHeight = 600;
    const maxWidth = 1200;
    const wrapEntry = document.querySelector('.wrap');

    const random = (min, max) => {
        return Math.floor(Math.random() * (max - min) + min);
    }

    for (let i = 0; i < FIREFLIES; i++) {
        let div = document.createElement('div');
        div.setAttribute('class', 'firefly');
        wrapEntry.appendChild(div);
    }
    var fireflies = document.querySelectorAll('.firefly');
    for (var i = 0; i < FIREFLIES; i++) {
        let ix = random(-10, maxWidth + 10);
        let fx = random(-10, maxWidth + 10);

        let iy = random(-10, maxHeight + 10);
        let fy = random(-10, maxHeight + 10);

        gsap.fromTo(fireflies[i], {
            x: ix,
            y: iy,
        }, {
            x: fx,
            y: fy,
            duration: random(5, 15),
            ease: "rough({template: none.out, strength: 1, points: 20, taper: 'none', randomize: true, clamp:false})",
            repeat: -1,
            yoyo: true,
        });
        gsap.fromTo(fireflies[i], {
            boxShadow: "0 0 0 0px rgba(154, 205, 50, 0)",
        }, {
            boxShadow: "0 0 0 3px rgba(154, 205, 50, 0.4)",
            duration: random(2, 4),
            ease: "slow(0.7, 0.7, false)",
            repeat: -1,
            yoyo: true,
        });
        gsap.fromTo(fireflies[i], {
            opacity: 0,
        }, {
            duration: random(1, 5),
            opacity: 0.9,
            repeat: -1,
            yoyo: true,
        })
    };
</script>



