@model long_term_care.Models.CaseDailyRegistration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CaseDailyRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseContId" class="control-label"></label>
                <input asp-for="CaseContId" class="form-control" />
                <span asp-validation-for="CaseContId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseNo" class="control-label"></label>
                <select asp-for="CaseNo" class ="form-control" asp-items="ViewBag.CaseNo"></select>
            </div>
            <div class="form-group">
                <label asp-for="CaseDailyTime1" class="control-label"></label>
                <input asp-for="CaseDailyTime1" class="form-control" />
                <span asp-validation-for="CaseDailyTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDailyTime2" class="control-label"></label>
                <input asp-for="CaseDailyTime2" class="form-control" />
                <span asp-validation-for="CaseDailyTime2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseTemp" class="control-label"></label>
                <input asp-for="CaseTemp" class="form-control" />
                <span asp-validation-for="CaseTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasePluse" class="control-label"></label>
                <input asp-for="CasePluse" class="form-control" />
                <span asp-validation-for="CasePluse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseCont" class="control-label"></label>
                <input asp-for="CaseCont" class="form-control" />
                <span asp-validation-for="CaseCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseIssue" class="control-label"></label>
                <input asp-for="CaseIssue" class="form-control" />
                <span asp-validation-for="CaseIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseRem" class="control-label"></label>
                <input asp-for="CaseRem" class="form-control" />
                <span asp-validation-for="CaseRem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemSid" class="control-label"></label>
                <select asp-for="MemSid" class ="form-control" asp-items="ViewBag.MemSid"></select>
            </div>
            <div class="form-group">
                <label asp-for="CasePick" class="control-label"></label>
                <input asp-for="CasePick" class="form-control" />
                <span asp-validation-for="CasePick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseRegTime" class="control-label"></label>
                <input asp-for="CaseRegTime" class="form-control" />
                <span asp-validation-for="CaseRegTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Not Code Yet. Base on Below... -->
    <div class="container-fluid">
        <div class="insideBox">
            <h3>(單位名稱)   C單位巷弄長照站-每日登記表</h3>
            <div class="ElderIDInput">
                長者編號: <input type="text" name="ElderId" id="ElderId">
            </div>

            <hr>

            <div class="GiantBox">
                <div class="title">
                    <div class="row header">
                        <div class="col-1">日期</div>
                        <div class="col-2">體溫/脈搏</div>
                        <div class="col-2">接送需求</div>
                        <div class="col-3">血壓檢測值</div>
                        <div class="col-4">(14天內)COVID-19 建議注意事項</div>
                    </div>
                </div>
                <div class="container" id="dataContainer"> <!-- Each data rows-->
                    <div class="row tBody">
                        <div class="col-1">
                            <div class="group">
                                <input type="text" class="transparent-input" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="group">
                                <input type="text" class="transparent-input" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <fieldset>
                                <div class="group">
                                    <input type="radio" name="pickUp" id="morning">
                                    <label for="morning">上午</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="pickUp" id="afternoon">
                                    <label for="afternoon">下午</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="pickUp" id="non">
                                    <label for="non">&nbsp;&nbsp;&nbsp;無</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-3" style="font-size: 13.4px;">
                            <fieldset>
                                <div class="group">
                                    <input type="radio" name="bloodPressure" id="normal">
                                    <label for="normal">正常(120/80mmHg以下)</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="bloodPressure" id="preHigh">
                                    <label for="preHigh">高血壓前期(120/80-135/85mmHg以下)</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="bloodPressure" id="crisis">
                                    <label for="crisis">高血壓危險群(135/85mmHg以上)</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-4" style="font-size: 15px;">
                            <fieldset>
                                <div class="group">
                                    <input type="radio" name="covid" id="tour">
                                    <label for="tour">有出國史</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="covid" id="notTour">
                                    <label for="notTour">無出國史</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="covid" id="symptoms">
                                    <label for="symptoms">有上呼吸道症狀或發燒</label>
                                </div>
                                <div class="group">
                                    <input type="radio" name="covid" id="notSymptoms">
                                    <label for="notSymptoms">無上呼吸道症狀或發燒</label>
                                </div>
                            </fieldset>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
