@model long_term_care.Models.CaseDailyRegistration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CaseDailyRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseContId" />
            <div class="form-group">
                <label asp-for="CaseNo" class="control-label"></label>
                <select asp-for="CaseNo" class="form-control" asp-items="ViewBag.CaseNo"></select>
                <span asp-validation-for="CaseNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casedate" class="control-label"></label>
                <input asp-for="Casedate" class="form-control" />
                <span asp-validation-for="Casedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseTemp" class="control-label"></label>
                <input asp-for="CaseTemp" class="form-control" />
                <span asp-validation-for="CaseTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasePluse" class="control-label"></label>
                <input asp-for="CasePluse" class="form-control" />
                <span asp-validation-for="CasePluse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseSystolic" class="control-label"></label>
                <input asp-for="CaseSystolic" class="form-control" />
                <span asp-validation-for="CaseSystolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDiastolic" class="control-label"></label>
                <input asp-for="CaseDiastolic" class="form-control" />
                <span asp-validation-for="CaseDiastolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseBlood" class="control-label"></label>
                <input asp-for="CaseBlood" class="form-control" />
                <span asp-validation-for="CaseBlood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasePick" class="control-label"></label>
                <input asp-for="CasePick" class="form-control" />
                <span asp-validation-for="CasePick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
