@model IEnumerable<long_term_care.Models.CaseDailyRegistration>


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
    <h4>交通接送清冊</h4>
</div>

<div class="wrap_Entry">
    <button class="Edit" onclick="location.href='@Url.Action("Search", "CaseDailyRegistrations")'">填寫</button>

    <br />

    <button class="View" onclick="location.href='@Url.Action("Details", "CaseDailyRegistrations")'">查閱</button>

</div>
