@model IEnumerable<long_term_care.Models.CaseInfor>
@{
    Layout = null;
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/Search.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-4">
            <label for="caseName">個案姓名:</label>
            <input type="text" id="CaseName" name="caseName" placeholder="請輸入搜尋姓名" />
        </div>
        <div class="col-4">
            <label for="caseNo">個案編號:</label>
            <input type="text" id="CaseNo" name="caseNo" placeholder="請輸入搜尋編號" />
        </div>
        <div class="col-4">
            <label for="caseIDcard">個案身分證:</label>
            <input type="text" id="CaseIDcard" name="caseIDcard" placeholder="請輸入搜尋身分證" />
        </div>
    </div>

    <div id="searchResults"></div>

    <script>
        $("input").on("input", function () {
            var caseNo = $("#CaseNo").val();
            var caseName = $("#CaseName").val();
            var caseIDcard = $("#CaseIDcard").val();

            $.post('/CaseDailyRegistrations/GetSearchResults', { caseNo, caseName, caseIDcard }, function (data) {
                $("#searchResults").html(data);
            });
        });

        function selectPerson(caseNo, caseName, caseIDcard) {
            $.post('/CaseDailyRegistrations/StoreInTempData', { caseNo, caseName, caseIDcard }, function () {
                window.location.href = '/CaseDailyRegistrations/Create';
            });
        }
    </script>
</body>
</html>
