@model long_term_care.Models.LectureClass

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<style>
    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        box-shadow: 0px 1px 0px #ccc, 0px -1px 0px #ccc, 1px 0px 0px #ccc, -1px 0px 0px #ccc;
        margin-bottom: 10px;
    }

        .row > div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }

    .btn-flip {
        width: 60px;
        height: 30px;
        background-color: #f5f5f5;
        color: #000;
        border: none;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }

        .btn-flip:hover {
            background-color: #ddd;
        }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

</style>
<div id="container">
    <div class="row">
        <div>星期一</div>
        <div>
            <select>
                <option value="課程開始時間">課程開始時間</option>
                <option value="SchA">7:30 - 8:30</option>
                <option value="SchB">8:30 - 9:00</option>
                <option value="SchC">9:00 - 9:30</option>
                <option value="SchD">9:30 - 12:00</option>
                <option value="SchE">13:00 - 16:00</option>
            </select>
        </div>
        <div>
            <input type="text" placeholder="課程">
        </div>
        <div>
            <input type="button" class="btn btn-secondary" value="修改課程">
        </div>
        <div>
            <button class="btn-flip">空堂</button>
        </div>
    </div>
    <div class="row">
        <div>星期二</div>
        <div>
            <select>
                <option value="課程開始時間">課程開始時間</option>
                <option value="SchA">7:30 - 8:30</option>
                <option value="SchB">8:30 - 9:00</option>
                <option value="SchC">9:00 - 9:30</option>
                <option value="SchD">9:30 - 12:00</option>
                <option value="SchE">13:00 - 16:00</option>
            </select>
        </div>
        <div>
            <input type="text" placeholder="課程">
        </div>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <button class="btn-flip">空堂</button>
        </div>
    </div>
    <div class="row">
        <div>星期三</div>
        <div>
            <select>
                <option value="課程開始時間">課程開始時間</option>
                <option value="SchA">7:30 - 8:30</option>
                <option value="SchB">8:30 - 9:00</option>
                <option value="SchC">9:00 - 9:30</option>
                <option value="SchD">9:30 - 12:00</option>
                <option value="SchE">13:00 - 16:00</option>
            </select>
        </div>
        <div>
            <input type="text" placeholder="課程">
        </div>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <button class="btn-flip">空堂</button>
        </div>
    </div>
    <div class="row">
        <div>星期四</div>
        <div>
            <select>
                <option value="課程開始時間">課程開始時間</option>
                <option value="SchA">7:30 - 8:30</option>
                <option value="SchB">8:30 - 9:00</option>
                <option value="SchC">9:00 - 9:30</option>
                <option value="SchD">9:30 - 12:00</option>
                <option value="SchE">13:00 - 16:00</option>
            </select>
        </div>

        <div>
            <input type="text" placeholder="課程">
        </div>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <button class="btn-flip">空堂</button>
        </div>
    </div>
    <div class="row">
        <div>星期五</div>
        <div>
            <select>
                <option value="課程開始時間">課程開始時間</option>
                <option value="SchA">7:30 - 8:30</option>
                <option value="SchB">8:30 - 9:00</option>
                <option value="SchC">9:00 - 9:30</option>
                <option value="SchD">9:30 - 12:00</option>
                <option value="SchE">13:00 - 16:00</option>
            </select>
        </div>
        
        <div>
            <input type="text" id="subject"placeholder="課程">
        </div>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <button class="btn-flip">空堂</button>
        </div>
    </div>
</div>
