@model long_term_care.Models.CaseTelRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CaseTelRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseTelQaid" />
            <div class="form-group">
                <label asp-for="CaseNo" class="control-label"></label>
                <select asp-for="CaseNo" class="form-control" asp-items="ViewBag.CaseNo"></select>
                <span asp-validation-for="CaseNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseRegTime" class="control-label"></label>
                <input asp-for="CaseRegTime" class="form-control" />
                <span asp-validation-for="CaseRegTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseSick" class="control-label"></label>
                <input asp-for="CaseSick" class="form-control" />
                <span asp-validation-for="CaseSick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDay" class="control-label"></label>
                <input asp-for="CaseDay" class="form-control" />
                <span asp-validation-for="CaseDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseTelTime1" class="control-label"></label>
                <input asp-for="CaseTelTime1" class="form-control" />
                <span asp-validation-for="CaseTelTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseTelTime2" class="control-label"></label>
                <input asp-for="CaseTelTime2" class="form-control" />
                <span asp-validation-for="CaseTelTime2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseAns" class="control-label"></label>
                <input asp-for="CaseAns" class="form-control" />
                <span asp-validation-for="CaseAns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseExp" class="control-label"></label>
                <input asp-for="CaseExp" class="form-control" />
                <span asp-validation-for="CaseExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseHea" class="control-label"></label>
                <input asp-for="CaseHea" class="form-control" />
                <span asp-validation-for="CaseHea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseLive" class="control-label"></label>
                <input asp-for="CaseLive" class="form-control" />
                <span asp-validation-for="CaseLive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseFam" class="control-label"></label>
                <input asp-for="CaseFam" class="form-control" />
                <span asp-validation-for="CaseFam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseMental" class="control-label"></label>
                <input asp-for="CaseMental" class="form-control" />
                <span asp-validation-for="CaseMental" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseCom" class="control-label"></label>
                <input asp-for="CaseCom" class="form-control" />
                <span asp-validation-for="CaseCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemSid" class="control-label"></label>
                <select asp-for="MemSid" class="form-control" asp-items="ViewBag.MemSid"></select>
                <span asp-validation-for="MemSid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
