@model IEnumerable<long_term_care.Models.CaseTelRecord>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OperationPage.css" asp-append-version="true" />

<div class="wrap">
    <button class="Home" onclick="location.href='@Url.Action("MemMainpage", "Main")'">首頁</button>
</div>
<div class="wrap_Entry">
    <button class="Edit" onclick="location.href='@Url.Action("Search", "CaseTelRecords")'">填寫</button>

    <br />

    <button class="View" onclick="location.href='@Url.Action("Details", "CaseTelRecords")'">查閱</button>

</div>
