@model long_term_care.Models.CaseNeed

@{
    ViewData["Title"] = "Details";
}
@using (Html.BeginForm("Details", "CaseNeeds", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="insideBox">
            <h3>社區長者需求調查</h3>
            <h5><span>請輸入長者編號</span></h5>
            <div class="content">
                @Html.TextBox("CaseNo", null, new { placeholder = "長者案號" })
                <button type="submit">查詢</button>
            </div>
        </div>
        <div>
            <a asp-action="Index">返回</a>
        </div>
    </div>
}
@section topCSS {
    <style type="text/css">
        body {
            font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
        }

        .container-fluid {
            background-color: #CBE9EA;
            padding: 45px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .insideBox {
            border-radius: 20px;
            background-color: #F1FFFF;
            height: 100%;
        }

            .insideBox h3 {
                font-size: 18px;
                padding: 10px 30px;
            }

            .insideBox h5 {
                font-size: 15px;
                padding-left: 30px;
            }

        span {
            color: #A9A5A5;
        }

        .content {
            margin-top: 10%;
            padding: 3%;
            text-align: center;
        }

        input {
            border: 1px solid #A9A5A5;
            border-radius: 8px;
        }

            input:focus {
                outline: none;
            }

        button {
            border-radius: 8px;
            background-color: #5C9DF7;
            color: #FFFFFF;
            border: transparent;
        }

            button:hover {
                background-color: #7caef5;
            }

    </style>
}/div>
