@model IEnumerable<long_term_care.Models.CaseAct>
@{
    ViewData["Title"] = "Index";
    
}

<style>
    .container {
        background-color: #CBE9EA;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .signbody {
        width: 100%;
        height: 1000px;
        background-color: #F1FFFF;
        border-radius: 20px;
    }

    .singbodytitle {
        width: 100%;
        background-color: #F1FFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
    }

        .singbodytitle button {
            width: 200px;
            height: 40px;
            font-size: 16px;
            margin: 3%;
        }

        .singbodytitle input {
            width: 500px;
            height: 40px;
            font-size: 16px;
            margin: 3%;
        }

    .content {
        width: 100%;
        background-color: #F1FFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
    }

    .id {
        width: 15%;
        height: 50px;
        margin: 2%;
        background-color: #FFCBBB;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name {
        width: 38%;
        height: 50px;
        margin: 2%;
        background-color: #FFF0EB;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tool {
        width: 15%;
        height: 50px;
        margin: 2%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .tool button {
            margin: 3%;
            width: 100px;
        }

    .back {
        display: flex;
        justify-content: center;
    }

        .back button {
            color: #000;
            background-color: #FBD4DF;
            width: 300px;
            height: 70px;
            font-size: 16px;
            margin: 3%;
        }
</style>

<body>
    <div class="container">
        <div class="title">
            <h1>長者活動簽到記錄</h1>
        </div>
        <div class="signbody">
            <div class="singbodytitle">
                <div class="add">
                    <form method="get" action="/CaseActsign/Create">
                        <button type="submit" class="btn btn-warning">新增表單</button>
                    </form>         
                </div>
                <form method="get" action="/CaseActsign/Index">
                    <div class="singbodytitle">
                        <div class="search">
                            <input type="search" name="searchTerm" class="search" placeholder="請輸入表單名稱...">
                        </div>
                        <div class="searchbtn">
                            <button type="submit" class="btn btn-secondary">查詢</button>
                        </div>
                    </div>                  
                </form>
            </div>
            <div class="content">
                <div class="id">
                    <p>表單編號</p>
                </div>
                <div class="name">
                    <p>表單名稱</p>
                </div>
                <div class="tool"></div>
            </div>
            <form action="">
                @foreach(var item in Model)
                {
                    <div class="content">
                        <div class="id">
                            <p>@item.ActId</p>
                        </div>
                        <div class="name">
                            <p>@item.ActCourse</p>
                        </div>
                        <div class="tool">
                            <a asp-action="Check" asp-route-id="@item.ActId">
                                <button type="button" class="btn btn-secondary">查詢</button>
                            </a>
                            <a asp-action="CreateCaseNo" asp-route-id="@item.ActId">
                                <button type="button" class="btn btn-secondary">編輯</button>
                            </a>
                        </div>
                    </div>
                }
            </form>          
        </div>
        <div class="back">
            <form action="/Main/MemMainpage" method="get"> 
                <button type="submit" class="btn btn-dark">回首頁</button>
            </form>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>

</html>