@model long_term_care.Models.CarPick

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Details.css">
@using (Html.BeginForm("Details", "CarPicks", FormMethod.Post))
{
    <div class="container">
        <div class="insideBox">
            <h3>交通接送清冊資料查詢</h3>
            <h5><span>請輸入車種</span></h5>
            @Html.DropDownList("CarType", ViewBag.CarTypes as SelectList, "Select Car Type")

            <h5><span>請輸入車牌</span></h5>
            @Html.DropDownList("CarNum", ViewBag.CarNums as SelectList, "Select Car Number")

            <h5><span>請選擇搜尋月份</span></h5>
            <div class="content">
                <input type="month" name="CarSearch" id="CarSearch" placeholder=" 年 月">
                <button type="submit">查詢</button>
            </div>
        </div>
        <div>
            <a asp-action="Index">返回</a>
        </div>
    </div>
}


